.account-list-wrapper {
  display: flex;

  .account-list-header {
    display: flex;
    width: 100%;
    background: rgba(22, 106, 106, 0.2);
  }

  .account-list-content {
    display: flex;
    flex-direction: column;
    // justify-content: center;
  }
}
