@import "src/style/index.less";

.layout-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  .article {
    flex: 1;
    background: rgba(22, 106, 106, 0.1);
    // 166A6A
    .header {
      height: 56px;
      background: #7ab1bb;
    }
  }
  .aside {
    background-color: #7ab1bb;
  }
  main {
    display: flex;
  }
}
