@import "src/style/index.less";

.layout-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: url("../../../../public/bg1.png");
  background-size: contain;
  background-position: 0;
  .article {
    flex: 1;
    background: rgba(22, 106, 106, 0.1);
    .header {
      height: 56px;
    }
  }
  .aside {
    background: linear-gradient(
      to bottom,
      rgba(200, 193, 157, 1),
      rgba(200, 193, 157, 0.5)
    );
    .active-sidebar-item {
      width: 100%;
      background: linear-gradient(
        to right,
        rgba(37, 131, 131, 0.2),
        rgba(37, 131, 131, 0.8) ;
      );
    }
    .sidebar-item {
      width: 100%;
      &:hover {
        background: linear-gradient(
          to right,
          rgba(37, 131, 131, 0.2),
          rgba(37, 131, 131, 0.8) ;
        );
      }
    }
  }
  main {
    display: flex;
  }
  .header {
    display: flex;
    width: 100%;
    height: 56px;
    background: linear-gradient(
      to right,
      rgba(37, 131, 131, 0.8),
      rgba(37, 131, 131, 0.2) ;
    );
    padding: 0 20px;
    justify-content: space-between;
  }
  .empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
  }
}
